<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="default_web_client_id" translatable="false">10724526113-pe9ht7eutct5h18d81legf5tkqdv3c86.apps.googleusercontent.com</string>
    <string na